@{
    ViewBag.Title = "Acerca del proyecto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <section class="mb-3">
        <strong>Desarrollada en ASP.NET</strong>
        <div>
            <img style="width: 300px; height: auto;" src="https://iconape.com/wp-content/png_logo_vector/microsoft-net-framework-logo.png" />
            <p class="m-lg-3">
                ASP.NET Framework es una plataforma robusta y versátil desarrollada por Microsoft, diseñada para la construcción y despliegue de aplicaciones
                web dinámicas y escalables. Este marco de trabajo proporciona a los desarrolladores una estructura sólida y eficiente para crear aplicaciones
                web y servicios mediante el uso del lenguaje de programación C# (C Sharp) o Visual Basic.
            </p>
        </div>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Documentacion de APS .NET &raquo;</a></p>
    </section>
    <section>
        <strong>Codigo Fuente</strong>
        <p>
            Bienvenido a nuestro proyecto! Este proyecto se encuentra alojado en GitHub, la plataforma líder para el desarrollo colaborativo
            de software. En GitHub, puedes explorar el código fuente, contribuir con sugerencias, informar problemas, y seguir el progreso
            del desarrollo.
        </p>
        <a class="btn btn-outline-dark" href="https://github.com/3lPr1mo/ProyectoWeb">Repositorio</a>
        <a class="btn btn-outline-dark" href="https://github.com/3lPr1mo">Autor 1</a>
        <a class="btn btn-outline-dark" href="https://github.com/elduarto">Autor 2</a>
    </section>
   


</main>