@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <section>
        <strong>Estudiates </strong><br />
        <a>Erick Enrique Chaparro Martinez - 20211578057 </a><br />
        <a>Johan Yamid Duarte Segura - 20202578136 </a><br />
    </section>

    <address>
        <strong>Correos de Estudiantes:</strong><br />
        <a href="mailto:Support@example.com">jyduartes@udistrital.edu.com</a><br />
        <a href="mailto:Support@example.com">eechaparrom@udistrital.edu.com</a><br />

    </address>

    <section>
        <strong>Instagram Nowhere.luv</strong><br />
        <a class="btn btn-outline-dark" href="https://www.instagram.com/nowhere.luv/">Instagram</a>

    </section>

</main>