
    @{
        ViewBag.Title = "Nowhere.luv";
    }

    <main class="home-page">
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">Bienvenido a Nowhere.luv</h1>
            <p class="lead">
                Tu destino de moda para experiencias únicas. En Nowhere.luv, reconocemos la importancia de ofrecer un servicio excepcional a nuestros clientes.
            </p>
        </section>

        <section class="row" aria-labelledby="problemJustificationTitle">
            <h2 id="problemJustificationTitle">¿Por qué necesitamos una página web?</h2>
            <p>
                En Nowhere.luv, hemos identificado desafíos significativos al vender a través de Instagram. La falta de sistematización en la gestión de pedidos y la limitada visibilidad del stock de productos han sido obstáculos que afectan la experiencia de nuestros clientes.
            </p>
            <p>
                Nuestra justificación radica en la necesidad de superar estas limitaciones y mejorar la eficiencia operativa. Una página web dedicada nos permitirá ofrecer una experiencia de compra más transparente, con una gestión de pedidos más eficiente y la capacidad para que nuestros clientes conozcan el stock de productos en tiempo real.
            </p>
        </section>

       
    </main>
